
        h1 { 
           color: green;
           background-color: yellow;
           font-size: 24px;
        }
        p {
            color: red;
            background-color: skyblue;
            font-size: 14px;
        }

        /* Naming convention for id */
        #abc {
            color: rgb(47, 0, 255);
            background-color: rgb(235, 135, 135);
            font-size: 14px;
        }

        /* Class Selectors */

        .xyz{
            color: blue;
            background-color: red;
        }